h1,
p {
  margin: 0;
}

:root {
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);

  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);
}

.app {
  display: grid;
  grid-template-columns: 3px 1fr 0.5fr 1fr;
  grid-template-rows: 0.1fr 0.1fr;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: url("/ticket_items/images/background-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;
}

.circle-container {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  margin-top: -30px;
  margin-left: -15px;
  width: 100px;
}

.circle-container img {
  width: 100%;
}

.pattern-lines {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
}

.heading {
  display: flex;
  align-items: center;
  gap: 10px;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: center;
  height: fit-content;
  margin-top: 20px;
}

.heading p {
  font-weight: bolder;
}

.heading img {
  width: 10rem;
}

.squiggly-line-top {
  grid-column: 4 / 6;
  grid-row: 1 / 2;
  width: 80px;
  justify-self: flex-end;
  height: fit-content;
}

.squiggly-line-top img {
  width: 100%;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  text-align: center;
  padding: 0 20px 0 20px;
  margin: 20px 0 0 0;
  height: fit-content;
  max-width: 600px;
  align-self: center;
  justify-self: center;
}

.introduction h1 {
  margin: 0;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
}

.introduction p {
  font-size: 1.1rem;
  color: var(--neutral-300);
}

.form {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  justify-self: center;
  margin-top: 20px;
}

.avatar-title {
  margin-bottom: 20px;
}

.avatar-drop {
  width: 300px;
  height: 100px;
  border: 2px dashed;
  border-color: var(--neutral-700);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 13px;
  color: var(--neutral-300);
  transition: all 0.2s;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.avatar-drop.dragging {
  background-color: #f0f8ff;
  border-color: #007bff;
}

.avatar-drop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-drop .file-input {
  display: none;
}

.upload-icon-bg {
  margin: 0 auto;
  background: transparent;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  width: 40px;
  height: 35px;
  padding: 2px;
  border-radius: 10px;
  border: 1px solid var(--neutral-300);
}

.avatar-actions {
  display: flex;
  gap: 5px;
}

.avatar-actions button {
  font-family: "Inconsolata", monospace;
  font-size: 10px;
  font-weight: 400;
  background: transparent;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 2px;
  border: none;
  color: var(--neutral-300);
  padding: 3px;
}

.avatar-actions button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.small {
  margin: 5px 0 10px 0;
  font-size: 12px;
  color: var(--neutral-700);
}

.avatar-details {
  display: flex;
  flex-direction: column;
}

.fullName,
.email,
.github,
.button {
  display: grid;
  gap: 8px;
  margin-bottom: 20px;
}

.fullName input,
.email input,
.github input {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid var(--neutral-300);
  padding: 15px 15px;
  border-radius: 10px;
}

.email input::placeholder,
.github input::placeholder {
  font-family: "Inconsolata", monospace;
  color: var(--neutral-300);
}

.submit-btn {
  padding: 15px;
  border-radius: 10px;
  border: none;
  width: 100%;
  background-color: var(--orange-500);
  color: var(--neutral-900);
  font-family: "Inconsolata", monospace;
  font-weight: 900;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s ease;
}
.small .submit-btn:hover {
  background-color: var(--orange-700);
}

.error {
  font-size: 0.8rem;
  color: var(--orange-700);
}

.line-bottom {
  align-self: flex-end;
  justify-self: end;
  width: auto;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

.line-bottom img {
  vertical-align: bottom;
  width: 100%;
}

.ticket-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  grid-column: 1 / -1;
  grid-row: 2/ 3;
  width: 90%;
  max-width: 650px;
  margin-top: 30px;
}

.alert-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}

.alert-text h1 {
  font-weight: 800;
  font-size: clamp(1.8rem, 2vw + 1rem, 2.5rem);
  line-height: 40px;
}

.ticket-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.colored-name {
  background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.emailed-text {
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: 400;
  max-width: 420px;
  margin: 0 auto;
  text-align: center;
}

.avatar-section {
  display: flex;
  align-items: center;
  gap: 5px;
}

.avatar-details {
  display: grid;
  gap: 5px;
  text-align: left;
}

.avatar-details p img {
  width: 17px;
}

.avatar-details h3 {
  font-size: 25px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0;
}

@media only screen and (min-width: 768px) {
  .app {
    background: url("/ticket_items/images/background-tablet.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 1200px) {
  .app {
    background: url("/ticket_items/images/background-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
